.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    text-align: start;
}
.product-name{
    color: blue;
}
.product-img{
    padding:0 20px;
}
.btn-cart{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    cursor: pointer;
}