.header img{
    height: 50px;
}

nav {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    padding:0 20px 0 20px;

}

nav a:hover{
    background-color: gray;

}